<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <br>
        <p><b>Product Reviews</b></p>
        <ul>
          <li><a href="https://cleanpaani.github.io/privacy">Privacy Policy</a></li>
          <li><a href="https://cleanpaani.github.io/sitemap.xml">Sitemap</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <br>
        <p><b>Knowledge</b></p>
         <ul>
          <li><a href="https://cleanpaani.github.io/knowledge/2018/12/03/what-is-tds-in-water.html">TDS in water</a></li>
        </ul>       
      </div>

      <div class="footer-col footer-col-3">
        <br>
        <p><b>Quick links</b></p>
        <ul>
          <li><a href="https://cleanpaani.github.io/privacy">Privacy Policy</a></li>
          <li><a href="https://cleanpaani.github.io/sitemap.xml">Sitemap</a></li>
        </ul>       
      </div>


    </div>

  </div>

</footer>
