<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h3>{{ site.title | escape }}</h3>
        <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
        <br>
        <a href="https://mdcrypto512.github.io/privacy">Privacy Policy</a>
        <br>
        <a href="https://mdcrypto512.github.io/sitemap.xml">Sitemap</a>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
