<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
      
      <div class="wrapper" style="background-color:lightgoldenrodyellow;">
        <p>CleanPaani.com is developed and maintained by Krishna, an avid researcher who likes to go deep into any subject that interests him. While trying to decide which water purifier to buy for his house, Krishna realized that there is a lack of educational resources on this topic and a lot of misinformation online. Hence, CleanPaani.com was born out of a mission to educate the public and help them escape expensive scams created by water purifier sales people and websites.</p>
      </div>
    </main>

    <!-- addthis sharing toolbar -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b744b8bc9e5f286"></script>

    {%- include footer.html -%}

  </body>

</html>
