---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <!-- adding the sharing toolbar -->
  <div class="addthis_inline_share_toolbox"></div>

  <hr>
  <br>
  <div class="post-content">
    
    {{ content }}
    
    <br>
    <!-- adding the sharing toolbar -->
    <div class="addthis_inline_share_toolbox"></div>
    
    <br>
    <h4 style="text-align: center;">
      <a href="https://mdcrypto512.github.io" style="background-color:lightgoldenrodyellow; padding:8px; color:black;">Back to the tutorials index</a>
    </h4>
    <br>

  </div>
  
  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

</article>

