---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <!-- adding the sharing toolbar -->
  <div class="addthis_inline_share_toolbox"></div>

  <hr>
  <br>
  <div class="post-content">
    {{ content }}
    <br>
    <div class="wrapper" style="background-color:lightgoldenrodyellow; padding:10px;">
      <p>CleanPaani.com is developed and maintained by Krishna, an avid researcher who likes to go deep into any subject that interests him. While trying to decide which water purifier to buy for his house, Krishna realized that there is a lack of educational resources on this topic and a lot of misinformation online. Hence, CleanPaani.com was born out of a mission to educate the public and help them escape expensive scams created by water purifier sales people and websites.</p>
    </div>
    
    <br>
    <!-- adding the sharing toolbar -->
    <div class="addthis_inline_share_toolbox"></div>
    <br>

  </div>
  
  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

</article>

